body {
    background-color: rgb(252, 252, 197);
    margin: 0 200px 50px;
    font-size: 20px;
    display: flex;
    height: 92vh;
    flex-direction: column;
    justify-content: space-between;
    color: rgb(65, 59, 59);
}

.header {
    display: flex;
    justify-content: center;
    gap: 30px; 
    font-size: 23px;
    color: steelblue;
}

.center {
    display: flex;
    justify-content: space-between;
}

.bottom {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left {
    display: flex;
    flex-direction: column;
    height: 30vh;
    justify-content: space-between;
}

.left > p {
    font-size: 14px;
    color: #5a5a3e;
}

.button {
    display: flex;
    justify-content: space-evenly;
}

button {
    font-size: 16px;
}