body {
    background-color: #fcfcc5;
    margin: 0 200px 50px;
    font-size: 24px;
    display: flex;
    height: 92vh;
    flex-direction: column;
    justify-content: space-between;
    color: rgb(65, 59, 59);
}

.header {
    display: flex;
    justify-content: center;
    gap: 30px; 
    font-size: 21px;
    color: steelblue;
}

.center {
    display: flex;
    justify-content: space-between;
}

.bottom {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newGame {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left {
    display: flex;
    flex-direction: column;
    height: 30vh;
    justify-content: space-between;
}

.left > p {
    font-size: 14px;
    color: #5a5a3e;
}

.bold {
    font-weight: bold;
    color: rgb(83, 97, 97);
}

.selectHeader {
    margin-top: 0;
}

.button {
    display: flex;
    justify-content: space-evenly;
}

button {
    font-size: 17px;
    background-color: #f8e8b5;
    border-color: rgb(202, 174, 168);
    border-radius: 8px;
    border-width: 1px;
    color: #6d4947;
    font-weight: bold;
    padding: 7px;
}

.nGame {
    padding: 10px;
}

.newGame > p {
    font-weight: bold;
}